<!DOCTYPE html>
<html>
  <head>
    <title>E2E</title>
  </head>
  <body>
    <div>
      <h1>Hello</h1>
    </div>
    <form action="/data" method = "POST">
      <p>Cylinders <input type = "text" name = "Cylinders" /></p>
      <p>Displacement <input type = "text" name = "Displacement" /></p>
      <p>Horsepower <input type = "text" name = "Horsepower" /></p>
      <p>Weight <input type = "text" name = "Weight" /></p>
      <p>Acceleration <input type = "text" name = "Acceleration" /></p>
      <p>Model Year <input type = "text" name = "Model Year" /></p>
      <p>Origin <input type = "text" name = "Origin" /></p>
      <p><input type = "submit" value = "Run Model" /></p>

  </form>
  </body>
</html>