<!DOCTYPE html>
<html>
  <head>
    <title>E2E</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div>
      <h1>Time to make some predictions</h1>
    </div>
    <form action="/predictions" method = "POST">
      
      <label>
        <p>Cylinders <input type = "number" name = "Cylinders" min="3" max="8" required="required"/></p>
      </label>
      <label>
        <p>Displacement <input type = "number" name = "Displacement" min="60" max="500" required="required"/></p>
      </label>
      <label>
        <p>Horsepower <input type = "number" name = "Horsepower" min="40" max="250" required="required"/></p>
      </label>
      <label>
        <p>Weight <input type = "number" name = "Weight" min="1000" max="6000" required="required"/></p>
      </label>
      <label>
        <p>Acceleration <input type = "number" name = "Acceleration" step="0.01" min="6" max="30" required="required"/></p>
      </label>
      <label>
        <p>Model Year <input type = "number" placeholder="19YY" name = "Model Year" min="70" max="90" required="required"/></p>
      </label>
      <label>
        <p>Origin <input type = "number" placeholder= "1:India,2:USA,3:Germany" name = "Origin" min="1" max="3" required="required"/></p>
      </label>
      <label>
        <p><input type = "submit" value = "Run Model" /></p>
      </label>

  </form>
  </body>
</html>